
<div class="container-lg">
    <!-- Content here -->
    <button type="button" class="btn btn-success" (click)="descargarCSV()">Descargar CSV</button>

 
    <table class="table" >
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">ESPECIE</th>
            <th scope="col">TYIPO</th> 
            <th scope="col">FECHA DE CREACION</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let datas of data">
            <th scope="row">{{datas.id}}</th>
            <td>{{datas.name}}</td>
            <td>{{datas.species}}</td>
            <td>{{datas.type}}</td>
            <td>{{datas.created}}</td>
          </tr>         
        </tbody>
      </table>
  </div>
